{% extends 'layout.njk' %}
{% block content %}
<main class="container">
  <section class="banner">
    <div class="description">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas
        criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <div class="chef">
      <img src="/images/chef.png" alt="Chef de Cozinha">
    </div>
  </section>
  <section class="most-accessed-recipes recipes-section">
    <h2>Mais acessadas</h2>
    <div class="recipes">
      {% for recipe in recipes %}
        <div class="recipe">
          <div class="recipe-image">
            <a><img src="{{ recipe.image }}" alt="{{ recipe.title }}"></a>
          </div>
          <h3>{{ recipe.title }}</h3>
          <p>por {{ recipe.author }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}