{% extends 'layout.njk' %}
{% block content %}
<main class="about">
  <div class="container">
    <div class="paragraph">
      <h2>Sobre o Foody</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos nesciunt maiores deleniti doloribus harum amet blanditiis inventore, eveniet temporibus fugiat deserunt ducimus aliquam pariatur perspiciatis? Tempore autem eum voluptatem non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nobis suscipit, ipsum molestias ipsam hic sapiente ipsa. Libero temporibus repudiandae voluptatum earum cumque in, pariatur animi blanditiis, id, asperiores soluta?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem in officia, voluptatum quisquam iusto numquam quas iste pariatur architecto itaque consequatur libero molestias fuga voluptas porro sapiente debitis distinctio dicta?
      </p>
    </div>
    <div class="paragraph">
      <h3>Como tudo começou...</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit eius inventore dolores veritatis consequuntur, accusantium esse sunt quaerat dolorum cum, possimus animi repudiandae saepe nulla quia aliquam nobis tenetur mollitia?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem nemo velit nostrum in numquam sed praesentium hic similique omnis quia, cum asperiores rem libero repellat amet natus? Mollitia, ducimus eaque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed, itaque enim atque, adipisci vel reprehenderit perspiciatis rerum consequuntur repellendus animi quae assumenda, dolores iure quidem alias nesciunt aliquam minima!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit eius inventore dolores veritatis consequuntur, accusantium esse sunt quaerat dolorum cum, possimus animi repudiandae saepe nulla quia aliquam nobis tenetur mollitia?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem nemo velit nostrum in numquam sed praesentium hic similique omnis quia, cum asperiores rem libero repellat amet natus? Mollitia, ducimus eaque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed, itaque enim atque, adipisci vel reprehenderit perspiciatis rerum consequuntur repellendus animi quae assumenda, dolores iure quidem alias nesciunt aliquam minima!
      </p>
    </div>
    <div class="paragraph">
      <h3>Nossas receitas</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, ab animi cupiditate itaque provident, ipsam laborum est, delectus harum asperiores dolor? Voluptatem molestias sit quaerat at repudiandae explicabo quisquam facilis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo amet a consequatur at dolor. At dolorum iure saepe officiis ipsam quasi consectetur inventore dolores sed corrupti porro, nam earum. Ab.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, commodi magnam doloribus esse in, ipsam laudantium aut quo illo quam dolores eveniet saepe consectetur blanditiis exercitationem consequuntur, nisi at? Hic!
      </p>
    </div>
  </div>
</main>
{% endblock %}