{% extends 'layout.njk' %}
{% block content %}
<main class="container recipes-section">
  <div class="recipes">
    {% for recipe in recipes %}
    <div class="recipe">
      <div class="recipe-image">
        <a href="/receitas/{{ recipe.id }}"><img src="{{ recipe.image }}" alt="{{ recipe.title }}"></a>
      </div>
      <h3>{{ recipe.title }}</h3>
      <p>por {{ recipe.author }}</p>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}