{% extends 'layout.njk' %}
{% block content %}
<main class="show-recipe">
  <div class="container">
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">

    <div class="recipe-title">
      <h1>{{ recipe.title }}</h1>
      <h2>por {{ recipe.author }}</h2>
    </div>

    <div class="recipe-section">
      <div class="section-title">
        <h3>Ingredientes</h3>
        <i
          class="toggle-info-button"
          onclick="ToggleInfo(this, 'ingredients')"
        >
          Esconder
        </i>
      </div>
      <div id="ingredients" class="section-content">
        <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="recipe-section">
      <div class="section-title">
        <h3>Modo de preparo</h3>
        <i
          class="toggle-info-button"
          onclick="ToggleInfo(this, 'preparation')"
        >
          Esconder
        </i>
      </div>
      <div id="preparation" class="section-content">
        <ul>
        {% for step in recipe.preparation %}
          <li>{{ step }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="recipe-section">
      <div class="section-title">
        <h3>Informações adicionais</h3>
        <i
          class="toggle-info-button"
          onclick="ToggleInfo(this, 'information')"
        >
          Esconder
        </i>
      </div>
      <div id="information" class="section-content">
        <p>{{ recipe.information.replace('\n', '<br>') }}</p>
      </div>
    </div>

  </div>
</main>
{% endblock %}