/* === HEADER-NAVBAR === */
.nav-bar {
  margin: 36px 0 30px;
}

.nav-bar .container {
  display: flex;
  align-items: center;
}

.nav-bar .logo {
  margin-right: 90px;
  height: 32px;
}

.nav-bar .logo img {
  height: 100%;
}

.nav-bar nav ul {
  display: flex;
}

.nav-bar nav li {
  margin-left: 30px;
  font-size: 16px;
}

/* === BANNER === */
.banner {
  width: 100%;
  background-color: #fbdfdb;
  border-radius: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.banner .chef {
  margin: 66px 100px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.description {
  width: 316px;
  margin-left: 60px;
}

.description h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 10px;
}

.description p {
  line-height: 28px;
  color: #000;
  opacity: 0.7;
}

/* === RECIPES-INDEX === */
.recipes {
  margin: 30px 0px 50px;
}

.recipes h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 20px;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}

.recipes-grid .recipe img {
  border-radius: 15px;
  width: 100%;
}

.recipes-grid .recipe h3 {
  font-weight: 400;
  line-height: 21px;
  margin: 20px 0 5px;
}

.recipes-grid .recipe p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

/* === FOOTER === */
.footer {
  background-color: #eee;
  height: 62px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 14px;
  line-height: 16px;
  color: #999;
}

/* === ABOUT === */
.about {
  margin: 20px 0 20px;
}

.about .paragraph h2 {
  font-size: 24px;
  line-height: 28px
}

.about .paragraph h3 {
  font-size: 20px;
  line-height: 24px;
}

.about .paragraph p {
  line-height: 28px;
  color: #444;
  margin: 20px 0px 30px;
}

/* === RECIPES-SHOW === */
.show-recipe {
  margin: 20px 0 31px; /* <br> extra de 19px */
}

.show-recipe img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.show-recipe .recipe-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.show-recipe .recipe-title h1 {
  font-size: 36px;
  line-height: 42px;
}

.show-recipe .recipe-title h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
}

.show-recipe .recipe-section {
  margin-top: 50px;
}

.show-recipe .section-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.show-recipe .section-title h3 {
  font-size: 24px;
  line-height: 28px;
  margin-right: 8px;
}

.show-recipe .section-title i {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #999;
}

.show-recipe .section-content {
  line-height: 28px;
  color: #444;
}

.show-recipe .section-content ul li {
  list-style: disc inside;
}
