<header>
  <div class="container">
    <img src="/images/logo.png" alt="Foodfy">
    <nav>
      <ul>
        <li id="sobre"><a href="/user/about.njk">Sobre</a></li>
        <li id="receitas"><a href="/user/recipes.njk">Receitas</a></li>
      </ul>
    </nav>
  </div>
</header>